{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        <div class="alert alert-primary " role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            
        </div>
    {% endif %}
    <div class="authe">
        <form action="{% url 'connexion_url' %}" method="POST">
            {% csrf_token %}
            <h1>Log In</h1>
            <div class="form-group col-md-3">
                <input type="Text" class=" form-control form-control-lg" id="username" name="username" 
                autocomplete="off" placeholder="Quel est votre username ? " required
                oninvalid="this.setCustomValidity('Please Entrer votre username')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group col-md-3">
                <input type="password" class="form-control form-control-lg" id="password" name="password"
                style="margin-top: 100px ;" placeholder="Quel votre mot de passe ? " required=""
                oninvalid="this.setCustomValidity('Please Entrer votre password')" oninput="setCustomValidity('')">
            </div>
            <input type="image" src="{% static 'images/connect.png' %}" alt="submit" />
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        setTimeout(function() {
            $('.alert').slideUp('slow');}, 5000
          );
    </script>
{% endblock %}