{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <div class="alert alert-primary " role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
        </div> 
    {% endif %}
    <form action="{% url 'afficher_information_url' %}" class="form-inline" method="GET">
        {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2 mt-5">
            <input type="text" class="form-control" id="code_chercher" name="code_chercher" autocomplete="off" placeholder="Quel est le code ?">
            <button type="submit" class="btn btn-primary ml-3">Afficher les informations</button>
        </div>
    </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        setTimeout(function() {
            $('.alert').slideUp('slow');}, 5000
          );
        
        $(function(){
            $(".chosen").chosen()
        })
    </script>
{% endblock %}