{% extends 'base.html' %}
{% block content %}
    
    {% if messages %}
        <div class="alert alert-primary " role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            </button>
      </div>
    {% endif %}
    <form class="form-inline mt-2" method="GET" action="{% url 'chercher_commune_pro_url' %}">
        <div class="form-group">
          <input type="Text" class="form-control" id="nom_chercher" name="nom_chercher" placeholder="chercher par province" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">search</button>
        <button type="button" class="btn btn-primary ml-1" ><a style="color: white;" href="{% url 'commune_url'%}">OK</a></button>
    </form>
    <form class="form-inline mt-2" method="GET" action="{% url 'chercher_commune_url' %}">
        <div class="form-group">
          <input type="Text" class="form-control" id="nom_chercher_com" name="nom_chercher_com" placeholder="chercher commune" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">search</button>
        <button type="button" class="btn btn-primary ml-1" ><a style="color: white;" href="{% url 'commune_url'%}">OK</a></button>
    </form>
    <form method="POST" action="ajouter_commune" class="form-inline" id="id_form">
        {% csrf_token %}
        <div class="form-row align-items-center mt-5 col-md-10">
            <select class="form-control ml-3 col-md-4 chosen" name="select_pro"  id="select_pro">
                <option value="">Selectionnez la province</option>
                {% for item in select_province %}
                  <option value="{{item.id}}" class="{{item.nom_province}}">{{item.nom_province}}</option>
                {% endfor %}
            </select>
            <input type="text" class="form-control ml-3 col-md-4" id="commune"  name="commune" placeholder="Nom de la commune ?" autocomplete="off">
            <button type="submit" class="btn btn-primary ml-3 col-md-2" id="btn_allergie">Enregistrer</button>
        </div>
    </form>
    <div class="scrollable  mt-5">
            <table class="table table-bordered table-condense ">
                <thead>
                    <tr >
                        <th >ID</th>
                        <th >Province</th>
                        <th >Commune</th>
                        <th colspan="2" ></th>
                    </tr>
                </thead>
                <tbody >
                    
                    {% for item in liste  %}
                        <tr >
                            <td style="width: 100px;">{{item.id}}</td>
                            <td >{{item.province__nom_province}}</td>
                            <td >{{item.nom_commune}}</td>
                            <td style="width: 50px;">
                                <form action="delete_commune/{{ item.id }}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" >Del</button>
                                </form>
                            </td>
                            <td style="width: 50px;">
                                <form action="edit_commune/{{ item.id }}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" id="edit" class="btn btn-warning btn-sm">Edit</button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr >
                            <h2><td colspan="6" >Il n'y a pas des communes enregistrées </td></h2>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        setTimeout(function() {
            $('.alert').fadeOut('slow');}, 5000
          );
        $(function(){
            $(".chosen").chosen()
        })
        
    </script>
{% endblock %}