{% extends 'base.html' %}
{% block content %}
    
    {% if messages %}
        <div class="alert alert-primary " role="alert">
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
            </button>
      </div>
    {% endif %}
    <form class="form-inline mt-2" method="GET" action="{% url 'chercher_consultation_url' %}">
        <div class="form-group">
          <input type="Text" class="form-control" id="code_chercher" name="code_chercher" placeholder="chercher par code" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">search</button>
        <button type="button" class="btn btn-primary ml-1" ><a style="color: white;" href="{% url 'consultation_url'%}">OK</a></button>
    </form>
    <form method="POST" action="ajouter_consultation" class="form-inline" id="id_form">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <div style="margin-left: 30px;" >
                        <label for="agent">Agent sanitaire</label>
                        <select class="form-control ml-5 col-md-4 chosen" name="agent"  id="agent">
                            <option value="{{agent.id}}" selected>{{ agent.agent_sanitaire__nom }} {{agent.agent_sanitaire__prenom}}  ===>  {{agent.centre_sanitaire__nom_centre}}</option>
                        </select>
                </div>
                <label for="patient">Patient :</label>
                <select class="form-control ml-3 col-md-4 chosen" name="patient"  id="patient">
                    <option value="">Selectionnez le patient</option>
                    {% for item in patient %}
                    <option value="{{item.id}}" >{{item.nom_pat}} {{item.prenom_pat}} {{item.code}}</option>
                    {% endfor %}
                </select>
                <label for="dates">Date :</label>
                <input type="Text" class="form-control" id="dates" name="dates" readonly>
            </div> 

            <div class="col">
                    <label for="my-textarea">Traitement en cours :</label>
                    <textarea id="my-textarea" class="form-control" name="traitement" rows="5"></textarea>  
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary ml-3 col-md-2" id="btn_allergie">Enregistrer</button>
            </div>   
        </div>
    </form>
    <div class="scrollable  mt-5">
            <table class="table table-bordered table-condense " style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                    <tr >
                        <th style="width: 5%" >ID</th>
                        <th style="width: 15%;">Patient</th>
                        <th style="width: 8%;">Code patient</th>
                        <th style="width: 15%;">Agent sanitaire</th>
                        <th style="width: 10%;">Centre sanitaire</th>
                        <th style="width: 5%;">Date</th>
                        <th >Traitement</th>
                        <th colspan="2" style="width: 8%;"></th>
                    </tr>
                </thead>
                <tbody >
                    
                    {% for item in liste  %}
                        <tr style="line-height: 20px;min-height: 20px;height: 20px;">
                            <td >{{item.id}}</td>
                            <td >{{item.patient__nom_pat}} {{item.patient__prenom_pat}}</td>
                            <td >{{item.patient__code}}</td>
                            <td >{{item.agent_centre__agent_sanitaire__nom}} {{item.agent_centre__agent_sanitaire__prenom}}</td>
                            <td >{{item.agent_centre__centre_sanitaire__nom_centre}}</td>
                            <td >{{item.date}}</td>
                            <td >{{item.traitement}}</td>
                            <td >
                                <form action="delete_consultation/{{ item.id }}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" >Del</button>
                                </form>
                            </td>
                            <td>
                                <form action="edit_consultation/{{ item.id }}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" id="edit" class="btn btn-warning btn-sm">Edit</button>
                                </form> 
                            </td>
                        </tr>
                    {% empty %}
                        <tr >
                            <h2><td colspan="6" >Il n'y a pas des données enregistrées </td></h2>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        setTimeout(function() {
            $('.alert').slideUp('slow');}, 5000
          );
        
        $(function(){
            $(".chosen").chosen()

            $("#patient").change(function(){
                var now = new Date()
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
                $("#dates").val(today)
            })
            
        });
    </script>
{% endblock %}